@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body{
    background: url(../images/bg01.jpg) no-repeat;
    background-size:cover;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}
body h2{
text-align:center;
font-size: 5pc;
font-style: italic;

}

.btn-perso{
    background-color: rgba(104, 95, 95, 0.5) !important;
    color: white !important;
    width: 100%;
    padding: 10px !important;
    text-transform: uppercase;
}
.btn-perso:hover{
    background-color: rgba(0, 100, 250, 0.863) !important;
    color: white !important;
}
.loginForm{
    background-color: rgba(8,8,8,0.5);
    color: white;
    border-radius: 5px;
    padding: 15px;
    max-width: 550px;
    padding-top: 25px;
    margin-left: 35%;
    margin-top: 12%;
}
.logo{
    margin-left: 27%;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}
.logonav{
    max-width: 50px;
    max-height: 50px;
}

/*********        Navbar intranet         ***************/

.navbar{
    border-bottom: solid 5px rgb(0, 160, 253,0.8);
}
.profilogin{
   border: solid 2px #0b9e06;
   color: #0b9e06;
   padding: 10px;
   text-align:center;
}
.cardnews{
    color : #030303 !important;
    margin-bottom: 2pc;
    margin-top: 2pc;
}
.cardprofil {
    max-width: 250px;
    border: solid 2px #9c1010 !important;
    color: #9c1010 !important;
}

.cardnews .card-footer{
display: flex;

}
/* .intranet .container-fluid{
    display: flex;
} */
.bodyTable{
    background-color: #dcdcdc;
    color: black;
    text-align:center;
}
.headTable{
    text-align:center;
}
.editForm{
    border-top: 20px solid rgb(12, 96, 223,0.8);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    padding: 15px;
    max-width: 850px;
    padding-top: 25px;
    margin-left: 30%;
    margin-top: 12%;
    min-width: 750px;
}
.carddelit{
    color: black !important;
}
.onservice{
    background-color: green;
    color: white;

}
.offservice{
    background-color: darkred;
    color: white;
}